.infoContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.Bottom {
  border-top: 1px solid black;
  margin-top: 10px;
}

.Top {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.imgDiv {
  border-radius: 5px;
}

.backButton {
  color: rgb(187, 139, 6);
  background-color: transparent;
  cursor:pointer;
  border: none;
  text-decoration: underline rgb(187, 139, 6);

}

.backButton:hover {
  color: rgb(231, 171, 4);
}

.name {
  font-size: 42px;
  margin-bottom: 15px;
}

.lore {
  text-align: justify;
  text-justify: inter-word;
}
.title {
  color: orange;
  font-style: italic;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

.tags {
  display: flex;
  justify-content: center;

  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}

.bio {
  font-size: 30px;
  margin: 25px 0px 0px 0px;
}

.infoBaixo {
  border-top: 1px solid black;
  margin-top: 3%;
}