.InputContainer {
    display: flex;
    align-items: stretch;
    max-width: 87%;
    margin: 0 auto;
    flex-direction: column;
}

input {
    background-color: rgb(111, 111, 119);
    margin-bottom: 3px;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;
}

.inputButton {
    background-color: rgb(187, 139, 6);
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.inputButton:hover {
    background-color: rgb(231, 171, 4);
}

::placeholder {
    color: rgb(39, 39, 39);
  }

.InputEmpty:focus {
    border-radius: 3px;
    outline: 2px solid red;
    
}