.CardContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    background-color: rgb(156, 121, 25);
    border: 2px solid white;
    border-radius: 5px;

    width: 60%;
    /* height: 50%; */

    margin: 25px auto;

    color: black;

    position:relative; 
}

.CardContainer:hover {
    background-color: rgb(231, 171, 4);
}

@media (max-width: 600px) {
    .CardContainer {
        width: 98% !important;
    }
}

@media (max-width: 800px) {
    .CardContainer {
        width: 73%;
    }
}

.ImgContainer {
    display: flex;
}

img {
    max-width: 100%;
}

.CardInfo {
    border-top: 2px solid white;
}

.CardTitle {
    border-bottom: 2px solid white;
    margin: 0px;
}

.link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;  
}