.cardContainer {
    display: flex;
    flex-direction: column;
    position: relative; 

    text-align: center;
    color: white;

    border: 2px solid white;
    border-radius: 5px;

    margin: 25px auto;
    padding-top: 108.64%;
    width: 60%;
}

.cardContainer:hover {
    border: 2px solid rgb(231, 171, 4);
    color: orange;
}

.cardContainer:hover .cardTitle{
    border-bottom: 3px solid rgb(231, 171, 4);
}

.cardContainer:hover .cardInfo{
    border-top: 2px solid rgb(231, 171, 4);
    border-bottom: 2px solid rgb(231, 171, 4);
}

@media (max-width: 800px) {
    .cardContainer {
        width: 80%;
        padding-top: 145%;
    }
}

@media (max-width: 600px) {
    .cardContainer {
        width: 98%;
        padding-top: 177%;
    }
}

.backImg {
    position: absolute;
    max-width: 100%;
    top: 0;
    z-index: -1;
}

.cardInfo {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.7);
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    margin-top: 0px;
    width: 100%;
    bottom: 10%;
}

.cardTitle {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid white;

    margin-top: 0px;
    width: 100%;
    top: 0;
}

.link {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;  
}