.CardContainer {
    display: flex;
    flex-direction: column;

    position:relative; 
    text-align: center;
    color: white;

    border: 2px solid white;
    border-radius: 5px;

    margin: 25px auto;
    width: 60%;

    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 108.64%;
}

.CardContainer:hover {
    border: 2px solid rgb(231, 171, 4);
    color: orange;
}

.CardContainer:hover .CardTitle{
    border-bottom: 2px solid rgb(231, 171, 4);
}

.CardContainer:hover .CardInfo{
    border-top: 2px solid rgb(231, 171, 4);
    border-bottom: 2px solid rgb(231, 171, 4);
}

@media (max-width: 800px) {
    .CardContainer {
        width: 80%;
        padding-top: 145%;
    }
}

@media (max-width: 600px) {
    .CardContainer {
        width: 98%;
        padding-top: 177%;
    }

    .CardInfo {
        margin-top: 110% !important;
    }
}

.ImgContainer {
    display: flex;
}

img {
    max-width: 100%;
}

.CardInfo {
    background-color:rgba(0, 0, 0, 0.8);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 115%;
}

.CardTitle {
    background-color:rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid white;
    margin-top: -180%;
}

.link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;  
}