.PDContainer {
  display: flex;
  flex-direction: column;

  position: relative;

  margin: 0 auto;
  margin-top: 25px;
  max-width: 25%; /* reduz o tamanho total*/

  border: 2px solid white;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .PDContainer {
      max-width: 98% !important;
  }
}

@media (max-width: 800px) {
  .PDContainer {
      max-width: 55%;
  }
}

.PDImgContainer {
  background-size: contain;
  padding-top: 100%;
  opacity: 40%;
}

.PDImg {
  position: absolute;

  border-radius: 50%;

  width:100%;
  top: 0;
  z-index: 1;
}

.Info {
  position: absolute;
  width:100%;
  z-index: 1;

  color: white;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.6);

  margin: 0;
  padding-top: 1%;
  height: 9%;
}

.summonerName {
  top: 0;
  border-bottom: 2px solid white;

}

.level {
  bottom: 0;
  border-top: 2px solid white;
}