#root {
  max-width: 1440px;
  margin: 0px auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 45px;
  margin-bottom: 0px;
  text-align: center;
}

.CardTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 800px) {

  .CardTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 600px) {

  .CardTable {
    display: grid;
    grid-template-columns: 1fr !important;
  }

}

.App {
  padding: 25px 50px;
}

span {
  display: flex;
  justify-content: center;
  color: red;
}

.NotFound {
  display: none;
}
